
.sideBySideParent{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start; 
  background-color: #007849;
  height: 550px;
}

.wordsSBSP{
  order: 1;
  flex-basis: 50%;
    align-self: auto;

}
.wordsSBSP p {
  margin: 80px;
}
.pictureSBSP{
  order:2;
  flex-basis: 50%;
  align-self: auto;

}
.pictureSBSP img{
    height: 100%;
    width: auto;
  }

header button{
  display: block;
  margin: 0 auto;
  text-align: center;
}
#hamburger{
  background:none;
  position:relative;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:white;
  border:0;
  font-size:1.8em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  text-align: center;
  display: block;
  margin: 0 auto;
}

#menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:relative; text-align:center;
display: none;}
#menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
#menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
#menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
#menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
#menu ul li a:hover {  color: #fff; text-decoration:none;}
#menu a{text-decoration:none; color:white; font-size: 20px;}
#menu a:hover{text-decoration:none; color:white;}


  @media screen and (min-width: 75em) {
    .pictureSBSP img {
      object-fit: cover;
      object-position: 0% 20%;
      /*the defualt was at 400px for max-height*/
      max-height: 450px; 
    }

}




.mobileContact {
  display: none;
}
.nav {
     background-color: transparent;
    list-style: none;
    display: relative;
}
.onPage a{
  border-bottom:4px solid white;
}
.onPage a:hover{
  border-bottom:4px solid #F8DA5B;
}
.nav li a {
  width: 100px;
  color: white;
  text-decoration:none;
  font-size: 20px;
}
.nav li a:hover{
  color: #F8DA5B;
  transition: all .3s linear;
  cursor: pointer;
}

.nav li{
  float: right;
  padding: 30px;
}

.hero {
  position: relative;
  background-color: #0375B4;
  height: 70%;
  display: block;
  width: auto;
  overflow: hidden;
}
.hero img{
  width: 7%;
  height: auto;
  display: inline-block;
margin-bottom: -10%;
}
.hero h1{
    position:absolute;
    text-align:center;
    display: block;
    top: 150;

    color: white;
}
.subHero{
	background-color: #F8DA5B;
	height: 200px;
    background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center 0px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
}
.subHeroPort{
  background-color: #F8DA5B;
  height: 200px;
}
.subHeroPort h1{
    color: black;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 97%;
  padding-top: 75px;
}
.subHero a {
  color: #247291;
  text-decoration: none;
}
.subHero a:hover{
  transition: all .3s linear;
  color: #EEF2E2;
  cursor: pointer;
}
.subHero h1 {
	color: black;
	font-size: 40px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	width: 97%;
	padding-top: 75px;
}
.tech {
  background-color: #F8DA5B;
  height: 400px;
}
.tech h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tech img{
  margin: 0 auto;
  height: 280px;
  display: block;
  width: auto;

}























a{
  font-family: 'Overpass', sans-serif;
  text-decoration: none;
  color: #FFCE00;
}
a:hover{
    border-bottom:2px solid white;
}
  /*BODY*/
body {
	background-color: #EEF2E2;
}


h1 {
  
font-family: 'Overpass', sans-serif;
	position: relative;
	font-size: 70px;
	text-align: center;
	width: 100%
}
h2 {
 font-family: 'Overpass', sans-serif;
  position: relative;
  font-size: 50px;
  text-align: center;
  color: black;
  width: 100%
}
p {
 font-family: 'Overpass', sans-serif;
	color: white;
  font-size: 20px;
}
h3 {
  font-family: 'Overpass', sans-serif;
	color: black;
  font-size: 22px;
	text-align: center;
}
.recentProjectsContainer {
   padding: 0;
   /* margin-right: 90px;
    margin-left: 90px;*/
  list-style: none;
  
   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around
}
.project img {
    width: 270px;
    height: 270px;
}
.project {
  background: none;
  padding: 5px;
  width: 270px;
  height: 270px;
  margin-top: 10px;

  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}


button {
    display: none;
    border: 2px solid;
    border-color: white;
    background-color: transparent;
    background-repeat:no-repeat;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    height: 60px;
    width: 200px;
    margin-left: 41px;
    margin-top: 125px;
    font-size: 14px;
}
button:hover{
  background-color: white;
  color: black;
  transition: all .3s linear;
  cursor: pointer;
}
.tint {
  position: relative;
  float: left;
  cursor: pointer;

}
.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s linear;
}

.tint:hover:before { background: rgba(0,0,0, .6); 
}
.tint:hover button{
  display: inline;
  transition: all .3s linear;
  cursor: pointer;
}

.recentProjectsContainer h2{
  color: black;
  text-align: center;
  display: inline-table;
}
.upcomingDevelopmentContainer{
     padding: 0;
   /* margin-right: 90px;
    margin-left: 90px;*/
  list-style: none;
  
   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around
}

.twoColumnFlexHorizontal{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: flex-start;

}
.columnOne{
order: 1;
flex-basis: auto;
flex: 0 1 auto;
align-self: center;

}
.columnTwo {
order: 2;
flex-basis: auto;
flex: 0 1 auto;
align-self: auto;
background-color: #b70101;
} 
.columnOneHorizontal{
order: 1;
flex-basis: 10%;
flex: 0 1 auto;
align-self: auto;

}
.columnOneHorizontal img {
  height: 20%;
  width: auto;
  padding-bottom: 60px;
}
.columnTwoHorizontal {
order: 2;
flex-basis: 50%;
flex: 0 1 auto;
align-self: center;
} 
.columnTwoHorizontal p {
  padding-left: 40px;
}
.columnOne img {
  margin: 0 auto;
  display: block;
  height: 300px;
  width: auto;
}
.columnTwo img {
    margin: 0 auto;
  display: block;
  height: 300px;
  width: auto;
}

.ongoingProjectsContainer {
   padding: 0;
   /* margin-right: 90px;
    margin-left: 90px;*/
  list-style: none;
  
   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around
}
.ongoingProject img {
    width: 350px;
    height: 350px;
}
.ongoingProject {
  background: none;
  padding: 5px;
  width: 350px;
  height: 550px;
  margin-top: 10px;

  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.ongoingProject a {
  text-decoration: none;
  color: #247291;
  font-size: 30px;
}
.ongoingProject a:hover{
   color: #F8DA5B;
  transition: all .3s linear;
  cursor: pointer;
}
.upd img {
  height: 25%;
  width: auto;
  display: inline;
}






      /*FOOTER */
.footImg {
  display: block;
  margin: 0 auto;
  order: 2;
  height: 70px;
}
.footImg img {
  height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.footerList li img {
  height: 60px;
}
.twoColumnFlexVertical{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-content: center;

}
.columnOne{
order: 1;
flex-basis: auto;
flex: 0 1 auto;
align-self: auto;
margin: 0 auto;
}
.columnTwoVertical {
order: 2;
flex-basis: auto;
flex: 0 1 auto;
align-self: auto;
margin: 0 auto;
} 
.columnTwoVertical p {
    font-size: 15px;
    color: black;
    margin-left: 20px;
    text-align: center;
    margin-top: 60px;
}
.footerListWords {
	margin: 0 auto;
	padding-top: 40px;
  text-align: center;
}
.footerList a{
  margin: 0 auto;
  text-align: center;
}
.footerList ul {
  list-style-type: none;
}
.footerList li {
  /*padding: 20px;*/
  margin-top: 20px;
  list-style-type: none;
  float: left;
  padding-bottom: 25px;
  display: block;
}
.footerList li img {
  padding: 10px;
  margin-right: 40px;
}
.footerListWords a {
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 10px;

}
.footerListWords a:hover{
    color: #F8DA5B;
  transition: all .3s linear;
  cursor: pointer;
}
footer {
	background-color: #F5F9EE;
	height: 300px;
}
@media (max-width: 1230px){
  .columnOneHorizontal img {
  height: 15%;
  width: auto;
  padding-bottom: 60px;
}
.columnTwoHorizontal p {
  padding-left: 20px;
}
}
@media(max-width: 900px){
  .twoColumnFlexHorizontal{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
align-content: flex-start;

}
.columnOneHorizontal img {
  display: block;
  margin: 0 auto;
  height: 10%;
  width: auto;
  padding-bottom: 5px;
}
}


@media (max-width: 600px){
/*.columnTwoVertical p {
    margin-left: 12px;
    margin-top: 20px
}*/


  .hero{
    height: 250px;
  }
  .hero h1 {
    font-size: 40px;
    top: 70;
  }
  .nav li {
    padding: 10px;
  }
  .nav li a {
    width: 30px;
    font-size: 20px;
  }
  .subHero h1{
  font-size: 30px;
  padding-top: 20px;
  color: black;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 95%;
  }
  .subHero{
    height: 150px;
  }
  h1 {
    font-size: 30px;
  }
  .tech h1 {
    font-size: 30px;
  }
  .tech img {
    height: 160px;
  }
  .tech{
    height: 300px;
  }
  .tint:before{
    background: rgba(0,0,0, .6);
  }

  button{
  display: inline;
  background-color: white;
  color: black;
  transition: all .3s linear;
    height: 60px;
    width: 200px;
    margin-left: 55px;
    margin-top: 150px;
  }
.project img {
    width: 300px;
    height: 300px;
}
.project {
  background: none;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;

  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
  .ongoingProject img {
    width: 300px;
    height: 300px;
  }
  .ongoingProject h3{
    margin-right: 10px;
    margin-left: 10px;
  }
/*.footerList li {
  margin-top: 20px;
  list-style-type: none;
  padding-bottom: 25px;
  padding: 4px;

}
.footerList li {
  margin-top: 20px;
  list-style-type: none;
  float: left;
  padding-bottom: 25px;
  display: block;
  margin: 0 auto;
}*/
.footerList li img {
display: none;
}
.subHeroPort{
  background-color: #F8DA5B;
  height: 150px;
}
.subHeroPort h1{
    color: black;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 95%;
  margin-top: -15px;
}

.hero img{
  width: 20%;
  height: auto;
  display: inline-block;
margin-bottom: -20%;
}


.mobileContact {
  text-align: center;
  display: block;
}
.mobileContact a{
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #247291;
  padding:10px;
  border-radius: 10px;
}


}
