/*Hero color: #F4F7F7, text color : #34495E*/
/*Section1 color : #AACFD0*/
/*Small divs color : #5DA0A2*/
/*footer color : #34495E text color : #F4F7F7;*/

/*************************************************Generals*************************************************/
html
{
	background-color: #F4F7F7;
}
p,h1,h2,h3,h4
{
	font-family: 'Overpass', sans-serif;
	text-align: center;
}
h1
{
	font-size:  3.998em ;
	color: #34495E;
	text-align: center;
}
h2
{
	font-size:  2.827em ;
	color: #F4F7F7;
}
h3
{
	font-size:  1.999em ;
	color: #F4F7F7;
}
h4
{
	font-size:  1.414em ;
}

p
{
	font-size: 1.25em;
	color: #222;
}
footer p
{
	color: #F4F7F7;
	font-size: .9rem;
}
header
{
	position: relative;
	background-color: #F4F7F7;
	  /*opacity: .7;*/
	height: 70%;
	display: block;
	width: 100%;
}
hr
{
	display: block;
	content: "";
	display: block;
	margin: 0px auto 2rem;
	background-color: #34495E;
	width: 5vw;
	height: 0.50vw;
	margin-top: -20px;
}
.dark
{
	display: block;
	content: "";
	display: block;
	margin: 0px auto 2rem;
	background-color: #F4F7F7;
	width: 5vw;
	height: 0.50vw;
	margin-top: -20px;
}


/*************************************************End generals*************************************************/
/*************************************************Body*************************************************/



.sectionOne
{
	background-color: #AACFD0;
   	display:inline-block;
   	vertical-align: top;
   	width: 100%;
}
.sectionOne p
{
	text-align: center;
	max-width: 50%;
	line-height: 1.5;
	margin: 0 auto;
}
.highlight
{
	background-color: #5DA0A2;
   	display:inline-block;
   	vertical-align: top;
   	width: 100%;
}
.resume
{
	background-color: #AACFD0;
   	display:inline-block;
   	vertical-align: top;
   	width: 100%;
}
.contact
{
	background-color: #34495E;
   	display:inline-block;
   	vertical-align: top;
   	width: 100%;
}


/*************************************************End Body*************************************************/
/*************************************************Footer*************************************************/
footer a{
  font-size: 60px;

  display:inline-block;

}
footer a img{
  height: 40px;
  margin: 10px;
}
footer
{
	color: #F4F7F7;
	background-color: #222;
   	display:block;
   	margin: 0 auto;
   	vertical-align: top;
   	width: 100%;
}
footer hr
{
	display: block;
	content: "";
	display: block;
	margin: 0px auto 2rem;
	background-color: #F4F7F7;
	width: 12vw;
	height: 0.15vw;
	margin-top: -20px;
}
